.btn {
  display: block;
  background-color: $color-yellow;
  border: none;
  border-radius: 40px;

  text-align: center;
  text-transform: capitalize;

  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  width: 96px;
  color: $bc-color;

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 45px -7px $color-yellow-border;
  }
}
