.mountain {
  position: relative;
  margin-bottom: 22px;

  background-image: url(./images/mountains/bc_mountain.png);
  background-repeat: no-repeat;
  background-position: center -30%;

  &__wrapper {
    width: 100vw;
    padding-left: 22%;
  }

  &__top {
    margin-bottom: 80px;

    &__title {
      margin-bottom: 36px;
    }

    &__desc {
      max-width: 45%;
    }
  }


  &__block {
    &:not(:last-child) {

      margin-bottom: 40px;
      border-bottom: 1px solid $color-gray;
    }

    display: flex;
    max-width: 90%;

    padding-bottom: 40px;


    &__content {
      margin-right: 124px;

      &__desc {
        &--1 {
          margin-bottom: 18px;
        }

        &--2 {
          margin-bottom: 28px;
        }
      }
    }

    &__img {
      width: $size-img-square;
      height: $size-img-square;
    }
  }

  &__line {
    position: absolute;
    display: flex;
    content: "";
    height: 1px;
    width: 85%;
    align-items: center;
    background-color: $color-gray;
    left: 10%;

  }
}
