.sideInfo {
  display: inline-block;
  width: 22%;

  padding-left: 86px;

  &__main {
    &__title {
      margin-bottom: 18px;
    }

    &__desc {
      margin-bottom: 64px;

      min-width: 136px;
    }
  }

  &__link {
    position: relative;
    color: $color-white;
    font-weight: 700;
    font-size: 12px;

    &::after {
      position: absolute;
      right: 140%;
      bottom: 0;
      display: block;
      width: 64px;
      height: 1px;
      background: $color-white;
      content: "";
    }
  }
}
