.spots {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;

    margin: 52px 46px 48px 0;

    max-width: 190px;
  }

  &__img {
    height: $size-img-square;
    max-width: $size-img-square;
    margin-bottom: 24px;
  }

  &__location {
    margin-bottom: 18px;
  }

  &__desc {
    margin-bottom: 36px;
  }

  &__link {
    font-weight: 700;
    font-size: 12px;

    color: $color-yellow;
  }

  &__slider {
    display: flex;
    align-items: center;
    position: absolute;
    width: 60%;

    &__wrapper {
      position: relative;
    }

    &__slide {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;

      scroll-snap-align: start;
      object-fit: cover;
    }
  }

  &__nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
