* {
  box-sizing: border-box;

  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-container {
  padding: 0 16px;

  @include onTablet {
    min-width: 640px;
    padding: 0 24px;
  }

  @include onDesktop {
    margin: 0 auto;
    width: 1200px;
    padding: 0 32px;
  }
}
