$bc-color: #28272a;
$bc-color-transparent: #28272ab3;

$color-white: #fefefe;
$color-yellow: #fee251;
$color-yellow-border: #cdb53e;
$color-gray: #666A6C;
$color-scrollbar: #58585B;

$size-img-square: 190px;
$size-img-square-small: 164px;
